<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
            <div class="mb-3 row">
                <input type="text"class="form-control" placeholder="titulo" name="titulo">
            </div>
            <div class="mb-3 row">
                <input type="text"class="form-control" placeholder="subtitulo" name="subtitulo">
            </div>
            <div class="mb-3 row" >
                <input type="text"class="form-control" placeholder="novedad" name="novedad" >
            </div>
            <div class="mb-3 row">
                <label >imagen: <input type="file" name="imagen" id="imagen"/></label>
            </div>
            <button type="submit" class="btn btn-primary">guardar</button>
            </form>
            {{#if error}}
            <h5>{{ message}}</h5>
            {{/if}}
        </div>
    </div>
</div>




